.curve
.svg-class,
.background {
    position: fixed;
    height: calc(100vh + 600px);
    width: 100vw;
    pointer-events: none;
    left: 0;
    top: 0;
}

.background {
    background-color: #000;
    transition: opacity 0s linear 0.1s;
}

.route {
    position: absolute;
    left: 50%;
    top: 40%;
    color: white;
    font-size: 60px;
    z-index: 888;
    transform: translateX(-50%);
    text-align: center;
}
